@font-face {
    font-family: TTLakes;
    src: url(font/TTLakes-Regular.ttf)
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(font/TTLakes-Bold.ttf);
}

@font-face {
	font-family: TTLakes-Medium;
	src: url(font/TTLakes-Medium.ttf);
}

html {
    box-sizing: border-box;
    background: #F8F8F8;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #FFFFFF;
}

.page-layout {
    max-width: 1120px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #D9FFF5;
    padding: 16px;
}

@media (min-width: 768px) {
    .header {
        padding: 16px 24px;
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
}

.header__wrap {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.header__wrap:first-child::after {
    position: absolute;
    display: block;
    content: "";
    background-image: url("./images/palka.png");
    width: 2px;
    height: 32px;
    left: 170px;
}

@media (min-width: 768px) {
    .header__wrap:first-child::after {
        left: 60px;
    }

    .header__wrap:last-child::after {
        position: absolute;
        display: block;
        content: "";
        background-image: url("./images/palka.png");
        width: 2px;
        height: 32px;
        left: 172px;
    }
}

.button-link__logo {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin-right: 16px;
}

.header__cps-logo {
    width: 98px;
    height: 52px;
    background-image: url("./images/Group.png");
}

@media (min-width: 768px) {
    .header__cps-logo {
        margin-left: 24px;
    }
}

.button-link__logo--burger {
    background-image: url("./images/burger.svg");
}

.button-link__logo--call {
    background-image: url("./images/call.svg");
    display: none;
}

.button-link__logo--chat {
    background-image: url("./images/chat.svg");
    display: none;
}

.button-link__logo--profile {
    background-image: url("./images/profile.svg");
    display: none;
}

@media (min-width: 768px) {
    .button-link__logo--call,
    .button-link__logo--chat,
    .button-link__logo--profile {
        display: block;
    }

    .button-link__logo--profile {
        margin-right: 42px;
    }
}

.button-link__logo--repair {
    background-image: url("./images/repair.svg");
}

.button-link__logo--check {
    background-image: url("./images/checkstatus.svg");
    margin-right: 0;
}

.main__title {
    font-family: TTLakes-Bold, sans-serif;
    letter-spacing: -0.6px;
    line-height: 40px;
    font-size: 28px;
    margin-left: 16px;
}

@media (min-width: 768px) {
    .main__title {
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main__title {
        display: inline-block;
        margin-left: 32px;
    }
}

.main__title::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("./images/highlight.png");
    width: 4px;
    height: 40px;
    left: 0;
}

.main {
    background-color: #F8F8F8;
}

.page-layout__main {
    padding-top: 24px;
}

.main__menu {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.main__menu::-webkit-scrollbar {
    width: 0;
}

@media (min-width: 768px) {
    .main__menu {
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .main__menu {
        display: flex;
        flex-wrap: wrap;
        margin-left: 32px;
    }
}

.main__menu-wrap {
    position: relative;
}

.main__menu-link {
    text-decoration: none;
    color: #7E7E82;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
}

.main__menu-item {
    display: inline-block;
    padding: 8px 16px;
}

.main__menu::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    top: 0;
    right: 0;
}

.main__menu-item:first-child {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.company-info__paragraph {
    font-family: TTLakes, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.company-info__text {
    max-width: 312px;
    margin-left: 16px;
    margin-right: 16px;
}

@media (min-width: 768px) {
    .company-info__text {
        margin-left: 24px;
    }
}

@media (min-width: 1120px) {
    .company-info__text {
        margin-left: 32px;
        max-width: 490px;
    }
}

.company-info__paragraph:last-child {
    display: none;
}

@media (min-width: 768px) {
    .company-info__paragraph:last-child {
        display: block;
    }
}

.company-info__read-more {
    background-color: transparent;
    border: none;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 16px;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .company-info__read-more {
        margin-top: 10px;
    }
}

@media (min-width: 1120px) {
    .company-info__read-more {
        margin-left: 32px;
    }
}

.company-info__read-more::before {
    display: block;
    content: "";
    float: left;
    background-image: url("./images/expand.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.company-info__image {
    flex-grow: 1;
    max-width: 531px;
    max-height: 307px;
    min-height: 176px;
}

@media (min-width: 768px){
    .company-info__image {
        margin-right: 24px;
        max-width: 360px;
    }
}

@media (min-width: 1120px) {
    .company-info__image {
        max-width: 531px;
    }
}

.company-info__cps-image {
    width: 100%;
}

@media (min-width: 768px) {
    .company-info__cps-image {
        border-radius: 6px;
    }
}

.company-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .company-info {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.main__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__title-link {
    display: flex;
    align-items: center;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
    text-decoration: none;
}

.main__title-link:first-child {
    margin-right: 32px;
}

.main__title-link:first-child::after {
    display: block;
    content: "";
    background-image: url("./images/repair.svg");
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.main__title-link:last-child::after {
    display: block;
    content: "";
    background-image: url("./images/checkstatus.svg");
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

.main__buttons-wrap {
    display: none;
    margin-right: 32px;
}

@media (min-width: 1120px) {
    .main__buttons-wrap {
        display: flex;
    }
}

.company-info__paragraph-hidden {
    display: none;
}

@media (min-width: 1120px) {
    .company-info__paragraph-hidden {
        display: inline;
    }
}


